{%extends 'base.html'%}
{%block body_block%}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 mb-4 mt-4">
        <h1>Order process</h1>
    </div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-6 border">
        {{order.item.book_name}}
        {{order.item.author}}
        {{order.item.price}}
    </div>
    <div class="col-6 border">
        {{order.user}}
    </div>
</div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">

        <form action="" method="post" >
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit" value="update">
        </form>
    </div>
        <div class="col-2"></div>
    </div>

{%endblock%}