{%extends 'base.html'%}
{%block body_block%}

<div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%if book%}
            <div class="alert alert-secondary" role="alert">
                {{book.book_name}} has been deleted
                <button class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            {%endif%}
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 px-10">
            <h3 style="text-align:center">List All Books</h3>
            <table>
                <tr class="tr">
                    <th>BookName</th>
                    <th >Author</th>
                    <th >Price</th>
                    <th >Copies</th>
                    <th >published date</th>
                </tr>
                {%for book in books%}

                <tr >
                    <td>{{book.book_name}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.price}}</td>
                    <td>{{book.copies}}</td>
                    <td>{{book.published_date}}</td>
                    <td>
                        <a href="{%url 'bookdetail' book.id%}" class="btn btn-outline-primary">view</a>
                        <a href="{%url 'bookedit' book.id%}" class="btn btn-outline-warning">edit</a>
                        <a href="{%url 'bookremove' book.id%}" class="btn btn-outline-danger">delete</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-2"></div>
    </div>


{%endblock%}